.orderbox > div{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 265px;
    transition: all 0.3s;
    cursor: pointer;
}
.orderbox > div:hover{

    background-color: rgb(199, 199, 240);
}   